.custom-button{
    cursor: pointer;
    width: 10rem;
    height: 40px;    
    border-radius: 24px;
    background-color: #2e572a;
    color: white;
    border: 0px;   
  
    

    &:hover{
        background-color: white;
        color: #2e572a;
        border: 1px solid #2e572a;
    }
}

.inverted{
    background-color: white;
    color: #2e572a;
    border: 1px solid #2e572a;

    &:hover{
        background-color: #2e572a;
        color: white;
    }
}
